@{
    ViewBag.Title = "About";
}

<div class="container-fluid p-0">
    <div class="row divContenitore">
        <div style="padding-top:150px;padding-bottom:75px">
            <div class="container">
            </div>
        </div>

        <div id="mainContentPanel" class="container bg-white mb-3" style="padding-top:20px">
            <div class="container">
                <h1 class="fw-bold mb-3 underline">Pete's Story</h1>
                <p>
                    I was born in England to an Irish mother and English father and lived most of my life in a riverside town called
                    Bedford located between Cambridge and Oxford. Life had always involved Italian food thanks to the many
                    Italian families who migrated after the war to work in Bedford’s brick yards. The love of pizza began
                    many years ago thanks to the local pizzerias including Santaniellos and Mama Mia’s! Over the years,
                    the journey to find great pizza took me to many places with further inspiration coming from the London
                    based Pizza Pilgrims and the original and legendary Franco Manca in Brixton. <br /><br />
                    In 2015, I moved to Tampere with my Finnish wife and my young family and with us came a traditional wood
                    fired pizza oven which sits tucked away in the corner of my garden. After two years cooking for friends
                    and family and with their fantastic support I decided to see if there was an opportunity to
                    make a business from cooking pizzas. I discovered a portable pizza oven and set about planning my
                    business idea for a mobile pizzeria in a converted vintage horse box.
                </p>

                <div class="row text-center">             
                    <img class="mx-auto d-block mb-4" style="width:60%" src="~/static/img/Pete.jpg" />
                </div>
                <p class="text-center">
                    Everyone loves pizza, right?! My goal is to bring people together to share great pizza using the best traditional, local and organic ingredients I can find.
                </p>
            </div>
        </div>
        
    </div>
</div>