@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid p-0">
    <div class="row divContenitore">
        <div style="padding-top:230px; padding-bottom:230px;">
            <div class="container">
                <h1 id="homeGreetings" class="text-center fw-bold">MOBILE NEOPOLITAN STYLE PIZZERIA</h1>
            </div>
        </div>

        <div id="mainContentPanel" class="container-md-fluid">
            <h1 class="text-center mb-4 underline" style="padding-top:60px;font-size:65px">WE COOK WHERE YOU ARE!</h1>
            <div class="row mb-5">
                <div class="text-center col-md-5 mt-3">
                    <h2 class="mt-2 mb-4">Our converted vintage horse trailer Raffaele – now on the road!</h2>
                    <img class="indexIMG" src="~/static/img/Raffaele.jpg" />
                </div>
                <div class="col-md mt-5 justify-content-start">
                    <p style="font-size:25px;padding-top:70px;padding-right:80px">
                        Fourhunderd fifty six degrees <b>456</b> is the optimal temperature for cooking neopolitan style pizza.
                        Although each region in Italy boasts its own style of pizza, the original pizza as we know it today hails from Naples when Neapolitan
                        chef Raffaele Esposito crafted the first pizza margherita in green (basil), white (mozzarella) and red (tomato) to match the flag of newly independent Italy.
                    </p>
                </div>
            </div>
            <hr />
            <div class="row mb-2">
                <div class="col mt-5 justify-content-start">
                    <p style="font-size:25px;padding-top:0px;padding-left:80px">
                        We believe that good pizza should not be a luxury. This means that we always look to source the best ingredients for our pizzas. Where possible we use local and organic products.
                        Infact, our Marinara and Margherita are made with organic local flour and organic tomatoes and fior di latte mozzarella!
                        <br /><br />
                        Our standard gluten based dough takes about <b>18 hours</b> to develop and includes only fresh local yeast, water, salt and Finnish organic unbleached flour.
                        <br /><br />
                        We also offer a <b>gluten free</b> dough option which has a longer proofing time of <b>72 hours</b>.
                        <br /><br />
                    </p>
                </div>
                <div class="text-center col-md-4 mt-3">
                    <h2 class="mt-2 mb-4">Good pizza always!</h2>
                    <img style="width: 100%; border-radius:15px 50px;" src="~/static/img/pizza_pic.png" />
                </div>
            </div>
            <hr />
            <div class="row mb-5">
                <div class="text-center col-md-5 mt-3">
                    <h2 class="mt-2 mb-4">Our Wheat Flour</h2>
                    <img class="indexIMG" src="~/static/img/flour_dough.jpg" />
                </div>
                <div class="col mt-5 justify-content-start">
                    <p class="paragraphIndex">
                        Our wheat flour is organic and comes from <b>Lampisen luomutila</b> in Ikaalisten <b>Pirkanmaa</b>.
                        <br />
                        Our gluten free flour is  from Italy and is a blend of  rice and potato starches, rice and soy flour, sugar, thickeners and dietary fiber. We are told it’s rather good!
                        <br /><br />
                        Tomatoes are organic San Marzano which hail from Italy and are the most flavoursome tomatoes for passata sauce, mozzarella is lactofree Fior di latte (from cow’s milk)…creamy and tasty.
                        <br /><br />
                        Our other toppings are a combination of traditional Italian produce and seasonal Finnish ingredients.
                        <br />
                        We also have a range of great vegan ingredients!
                    </p>
                </div>
            </div>
            <hr />
            <div class="row mb-3">
                <div class="col mt-5 justify-content-start">
                    <p style="font-size:25px;padding-top:20px;padding-left:80px">
                        We have two Gozney Roccbox ovens which run on either gas and wood. Pizzas are cooked at over 400 degrees giving a cooking time of between one to two minutes – the original fast food!
                        The high cooking temperature gives the pizzas a special taste and easily digestible edge which should be enjoyed. A typical of a Neopolitan pizza.
                    </p>
                </div>
                <div class="text-center col-5 mt-3">
                    <h2 class="mt-2 mb-4">Gozney Roccbox ovens!</h2>
                    <img class="indexIMG45" src="~/static/img/gozenresize.PNG" />
                </div>
            </div>
            <hr />
            <div class="container-fluid mb-3">
                <div class="row mb-3">
                    <h1 class="text-center mb-5 underline" style="padding-top:60px;font-size:65px">Based in the the Tampere Pirkanmaa Area</h1>
                </div>
                <div class="row" style="padding-left:300px">
                    <div class="col-3" style="margin:auto">
                        <img class="img-fluid" src="~/static/img/logo_final_outlined_page-0001-300x247.jpg" />
                    </div>
                    <div class="col-9" style="margin:auto;padding-left:60px">
                        <img class="img-fluid" style="border-radius:15px 50px;width:70%" src="~/static/img/PeteBenMe.jpg" /></div class="col-sm-12">
                    </div>
                </div>
            </div>
        <div class="col-md-12 bottomContentPanel mt-5">
        </div>
    </div>
</div>
